rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // users collection:
    // - any authenticated user can read and create
    // - only users who created a document can update it (user's id match)
    match /users/{user_id} {
      // REMEMBER --> changed create to write
      allow read, write: if request.auth != null;
      allow update: if request.auth.uid == user_id;
    }
    // projects collection
    // any authenticated user can read, create and update a project
    // only users who created a project can delete it
    match /projects/{projectId} {
      allow read, create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.createdBy.id
    }
  }
}