.navbar {
	width: 100%;
	padding: 2rem 0;
	margin-bottom: 8rem;
}

.navbar ul {
	display: flex;
	margin: 0 auto;
	align-items: flex-end;
	justify-content: flex-end;
}

.navbar a {
	color: #333;
	text-decoration: none;
	margin-right: 2rem;
}

@media only screen and (max-width: 62em) {
	.navbar {
		padding-inline: 4rem;
	}
}
