.App {
	display: flex;
	position: relative;
}

.App .container {
	flex-grow: 1;
	padding: 0 6rem;
}

/* 992px */
@media only screen and (max-width: 62em) {
	.App .container {
		padding: 0;
	}
}

/* 600px */
@media only screen and (max-width: 37.7em) {
	.App:last-child {
		/* fix overfloating userList */
		width: fit-content;
	}
}
